@keyframes loadingAnimate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loadingBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.loading-icon {
  display: none;
  cursor: wait;
  transition: all 0.2s ease-in;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  position: fixed;
  padding: 100% 100%;
  z-index: 4999;
  background-color: rgba(240, 248, 255, 0.692);
  backdrop-filter: blur(5px);
  i {
    animation: loadingAnimate 1s ease-in-out;
  }
}
.loading-bar {
  position: fixed;
  bottom: 0;
  display: none;
  background-color: navy;
  height: 10px;
  box-shadow: 2px 2px 16px 4px navy;
  z-index: 5000;
  animation: loadingBar 1s ease-in-out;
  transition: all 0.2s ease-in;
}
